In [ ]:
num1= int(input("Please enter first number between 1 & 100:> "))
num2 = int(input("Please enter second number between 1 & 100:> "))

while num1>100 or num1<0 or num2<0 or num2>100:
  print("Please enter numbers between 1 and 100")
  num1= int(input("Please enter first number between 1 & 100:>"))
  num2 = int(input("Please enter second number bentween 1 & 100:>"))
if num1<num2:
  for i in range(num1, num2+1):
    print(i, end=" ")
else:
  for i in range(num2, num1+1):
    print(i, end = " ")

Please enter first number between 1 & 100:> 10
Please enter second number between 1 & 100:> 3
3 4 5 6 7 8 9 10

In [ ]:
# Ask user to input a string and print it out in reverse order, use for loop

str1 = input("Please enter an string:> ")

# str2 = str1[::-1]
# print(str2)

reverse_string= ""

for i in str1:
  reverse_string = i + reverse_string

print(reverse_string)

Please enter an string:> goodby
ybdoog

In [ ]:
num1= int(input("Please enter first number between 1 & 12:> "))

while int(num1)>12 or int(num1)<0 :
  print("Please enter numbers between 1 and 12")
  num1= int(input("Please enter first number between 1 & 12:>"))

print("==========================")

for i in range(1,13):
    print(f'{num1} x {i} = {num1*i}')

Please enter first number between 1 & 12:> 4
==========================
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48

In [ ]:
for i in range(1,13):
  print("===============================")
  print(f'This is the {i} times table')
  print()
  for j in range(1,13):
    print(f'{i} x {j} = {i*j}')

===============================
This is the 1 times table

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12
===============================
This is the 2 times table

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
===============================
This is the 3 times table

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
===============================
This is the 4 times table

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
===============================
This is the 5 times table

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
===============================
This is the 6 times table

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
===============================
This is the 7 times table

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
===============================
This is the 8 times table

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
===============================
This is the 9 times table

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
===============================
This is the 10 times table

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
===============================
This is the 11 times table

11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132
===============================
This is the 12 times table

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

In [ ]:
num1= int(input("Please enter a number: "))
seq_num=[]

while len(seq_num) < 5:
   num1= int(input("Please enter a number: "))
   seq_num.append(num1)

total=0
for i in seq_num:
  total+=i

mean= total/len(seq_num)
print(f'The mean of the sequence is {mean}')

Please enter a number: 2
Please enter a number: 4
Please enter a number: 6
Please enter a number: 7
Please enter a number: 7
Please enter a number: 9
The mean of the sequence is 6.6

In [ ]:
n=15
fact= 1
for i in range(1, n+1):
  fact= fact*i
  print(fact)
print(fact)

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
479001600
6227020800
87178291200
1307674368000
1307674368000

In [ ]:
n=10
fact=1
for i in range(1, n+1):
  fact= fact*i
print(fact)

3628800

In [ ]:
n=20
a=0
b=1
fib_num=[]

for i in range(n):
  fib_num.append(a)
  a,b = b, a+b
print(fib_num)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [ ]:
odd=[]
even=[]

for i in range(1, 101):
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)

In [ ]:
print(odd)
print(even)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
pip install helper_functions

Collecting helper_functions
  Downloading helper_functions-2.0.11.tar.gz (6.8 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from helper_functions) (1.26.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.11/dist-packages (from helper_functions) (1.13.1)
Collecting sklearn (from helper_functions)
  Downloading sklearn-0.0.post12.tar.gz (2.6 kB)
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Preparing metadata (setup.py) ... error
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [ ]:
def hello():
  print('Hello World')

In [ ]:
hello()

Hello World

In [ ]:
for i in range(5):
  hello()

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
def hi(name):
  print(f'Hello, {name}!')

In [ ]:
hi('Sam')

Hello, Sam!

In [ ]:
def hi_2(name='Sam'):
  print(f'Hello, {name}!')

In [ ]:
hi_2()

Hello, Sam!

In [ ]:
hi_2('Harry')

Hello, Harry!

In [ ]:
def fib(n):
  a=0
  b=1

  for i in range (n):
    a, b = b, a+b
  return a

In [ ]:
fib(20)

6765

In [ ]:
for i in range(20):
  print(fib(i), end=" ")

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [ ]:
def calc_mean(*remainder):
  '''This calculates the mean of numbers'''
  mean= (sum(remainder))/(len(remainder))
  return mean

In [ ]:
calc_mean(3,4,6,7,8,44,67,80)

27.375

In [ ]:
def fib_2(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fib_2(n-1)+ fib_2(n-2)

In [ ]:
fib_2(30)

832040

In [ ]:
import timeit

In [ ]:
class Patient (object):
  """Medical centre patient"""
  status = 'patient'
  def __init__(self, name, age, sex):
    self.name= name
    self.age= age
    self.sex = sex
    self.condition= []

  def get_details(self):
    print(f'Patient record: {self.name},{self.age} years.'\
          f'Current information: {self.condition}')

  def add_info(self, info):
    self.condition.append(info)

In [ ]:
steve = Patient('Steven', 34, 'Male')

In [ ]:
print(steve.name, steve.age, steve.sex)

Steven 34 Male

In [ ]:
steve.status

'patient'

In [ ]:
steve.get_details()

Patient record: Steven,34 years.Current information: []

In [ ]:
Mike = Patient("Mike", 45, "Male")

In [ ]:
Mike.get_details()

Patient record: Mike,45 years.Current information: []

In [ ]:
Mike.add_info(1)

In [ ]:
Mike.get_details()

Patient record: Mike,45 years.Current information: [1]